/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
* {
  font-family: sans-serif;
}

header {
  background-color: #ffdbaa;
  width: 100%;
  color: #553100;
  display: inline-flex;
  border-bottom: thin solid black;
}

header h1 {
  width: 45%;
  margin: 10px 5% 10px 2%;
}

.menu {
  width: 40%;
  margin: 10px 2% 10px 6%;
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: #d4a76a;
  /* margin: 0 auto; */
}

button {
  background-color: #805215;
  color: white;
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  border-width: thin;
  padding: 10px 20px;
}

.menu button {
  width: 75px;
  padding: 10px;
  border: none;
}

.card {
  background-color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 11px -3px black;
}

.card button {
  width: 100%;
  font-size: 0.9em;
}

.smallCard {
  width: 25%;
  min-height: 150px;
}

.largeCard {
  width: 90%;
}

h3 {
  font-size: 0.98em;
}
p {
  text-align: left;
  font-size: 0.9em;
}
